<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"></script>
		<!-- initilizing zegal-client -->
		<!-- <script src="/dist/zegal.local.js"></script> -->
		<script src='<%= zegalClient%>'></script>
		<script src="utils.js"></script>

		<script>initialize('<%= key%>')</script>

		</head>
		<body>
			<div id='container'>
				<div class="row">
					<div class="col-3">
						
						<div class="nav flex-column nav-pills" id='doctypeChooser' role="tablist" aria-orientation="vertical">
						
						</div>
						<div id="accordion">
							
						</div>
					</div>
					<div class="col-9 well well-lg" style="background-color: #f2f2f2">
						<form>
							<div class="form-group">
								<label for="name">Document title</label>
								<input type="text" class="form-control" id="docTitle">
							</div>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="addSignersInfo">
								<label class="form-check-label" for="addSignersInfo">Add Signers</label>
								<div id='signersActions'>
									<hr />
									<button type='button' class="btn btn-success" onclick="addSignerForm()">+</button>
									<hr />
								</div>
								<div class="well well-lg" style="background-color: #e1e2e6" id='signersBlock'>
									
								</div>
							</div>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="enableAddSigners" checked>
								<label class="form-check-label" for="enableAddSigners">Enable Add Signers</label>
							</div>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="enablePreview" checked>
								<label class="form-check-label" for="enablePreview">Enable preview</label>
							</div>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" id="enableDownload" checked=''>
								<label class="form-check-label" for="enableDownload">Enable download</label>
							</div>
							<hr />
							<div class="form-group">
								<label for="name">Document completion button label</label>
								<input type="text" class="form-control" id="docCompletionButton">
							</div>
							<button type='button' class="btn btn-primary" id='zegalButton' onclick="createDocumentHandler()" data-toggle="modal">Submit</button>
							<!-- <button class="btn btn-success">Done</button> -->
						</form>
					</div>
				</div>
				<br/>
				<hr />
				<p>
					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#documentsList"
						aria-expanded="false" aria-controls="documentsList">
						List of documents:
					</button>
				</p>
				<div id='documentsList' class="collapse">
					<div class="list-group">
						<% for( let document of documents) {%>
						<button type="button" class="list-group-item list-group-item-action"
							onclick="showDocumentModal('<%= document._id %>')"><%= document.title %></button>
						<% } %>
					</div>
				</div>
			</div>
			<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id='createModal'aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body mb-0 p-0">
							<div class="embed-responsive embed-responsive-16by9 z-depth-1-half" id="createModalBody" >
							</div>
						</div>
					</div>
				</div>
			</div>
	</body>

	<script>
		$(function () {
			$("#signersBlock").hide();
			$("#signersActions").hide();

			$("#addSignersInfo").click(function () {
				if ($(this).is(":checked")) {
					$("#signersBlock").show();
					$("#signersActions").show();
					
				} else {
					$("#signersBlock").hide();
					$("#signersActions").hide();
				}
			});
			populateSigners()

		});

		$('#createModal').on('hidden.bs.modal', function () {
			localStorage.setItem('activeModal', '');
		});

		window.addEventListener('message', function (e) {
			$("#createModal").modal('hide');
			alert('Transaction completed')
		}, false);
	</script>

</html>
